<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>web-based-maven-proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet1</display-name>
    <servlet-name>AddEmployeeServlet1</servlet-name>
    <servlet-class>AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet1</servlet-name>
    <url-pattern>/AddEmployeeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet2</display-name>
    <servlet-name>AddEmployeeServlet2</servlet-name>
    <servlet-class>AddEmployeeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet2</servlet-name>
    <url-pattern>/AddEmployeeServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet3</display-name>
    <servlet-name>AddEmployeeServlet3</servlet-name>
    <servlet-class>com.lti.servlet.AddEmployeeServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet3</servlet-name>
    <url-pattern>/AddEmployeeServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Myservlet</display-name>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>com.lti.servlet.Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YourServlet</display-name>
    <servlet-name>YourServlet</servlet-name>
    <servlet-class>YourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YourServlet</servlet-name>
    <url-pattern>/YourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmarServlet</display-name>
    <servlet-name>AmarServlet</servlet-name>
    <servlet-class>com.lti.servlet.AmarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmarServlet</servlet-name>
    <url-pattern>/AmarServlet</url-pattern>
  </servlet-mapping>
</web-app>